<li class="external-link"><a href="https://bitbucket.org/wtjones"><i class="fa fa-bitbucket"></i> Bitbucket.org</a></li>
<li class="external-link"><a href="https://www.linkedin.com/profile/view?id=35231044"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://plus.google.com/101239736554625906442"><i class="fa fa-google-plus"></i> Google+</a></li>
<li class="external-link"><a target="_blank" href="mailto:wtravisjones@gmail.com"><i class="fa fa-envelope"></i> Contact</a></li>
